
untitled.mlx
basinPlotter.mlx
Copy_of_genDataset_old.m
genDatase_oldt.m
data2/images.mlx
data2/test_n1.mat
data2/test_n2.mat
data2/test_n3.mat
data2/test_n6.mat
data3/test_n1.mat
data3/test_n10.mat
data3/test_n2.mat
data3/test_n3.mat
data3/test_n4.mat
data3/testtemp_n10.mat
data4/test_n10.mat
data4/test_n100.mat
data4/test_n1000.mat
data4/test_n2.mat
data4/test_n5.mat
data4/n1000 gamma0-0.2 3d.jpg
data4/n1000 gamma0-0.2.jpg
data4/test_n1.csv
data4/test_n1.mat
data4/test_n1csv.txt
data4/test_n20.mat
Poster_Image_gen/stabilityComparison.mlx
Poster_Image_gen/walkerStates_vs_gamma.jpg
